<!DOCTYPE html>
<html>
	<head>
		<title>Smol Chat</title>
		<meta charset="utf-8">
		<meta name="description" content="An editable offline-friendly map">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/lib/source-sans-pro/source-sans-pro.css">
		<link rel="stylesheet" href="/css/smol.menu.css">
		<link rel="stylesheet" href="/css/smol.menu.user.css">
		<link rel="stylesheet" href="/css/smol.chat.css">
	</head>
	<body>
		<div id="app">
			<ul id="messages"></ul>
			<form id="message-form" action="/api/message" method="post">
				<div id="avatar" class="avatar">
					<div id="avatar-icon" class="avatar-icon"></div>
				</div>
				<input id="message-input" name="message" autocomplete="off" placeholder="Message to everybody">
				<button id="message-submit" title="Send message"><span class="fa fa-paper-plane"></span></button>
				<br class="clear">
			</form>
			<div id="menu">

				<span id="menu-close"><span class="fa fa-close"></span></span>

				<form action="/api/user" method="post" id="user" class="menu-page">
					<h1>Settings</h1>
					<label>
						Nickname
						<input type="text" name="nickname" id="user-nickname" value="">
					</label>
					<label>
						Avatar
						<div id="user-avatar">
							<div id="user-avatar-preview" class="avatar"><div class="avatar-icon"></div></div>
							<select id="user-icon">
								<option value="1">icon 1</option>
								<option value="2">icon 2</option>
								<option value="3">icon 3</option>
								<option value="4">icon 4</option>
								<option value="5">icon 5</option>
								<option value="6">icon 6</option>
								<option value="7">icon 7</option>
								<option value="8">icon 8</option>
								<option value="9">icon 9</option>
								<option value="10">icon 10</option>
								<option value="11">icon 11</option>
								<option value="12">icon 12</option>
								<option value="13">icon 13</option>
								<option value="14">icon 14</option>
								<option value="15">icon 15</option>
								<option value="16">icon 16</option>
								<option value="17">icon 17</option>
								<option value="18">icon 18</option>
								<option value="19">icon 19</option>
								<option value="20">icon 20</option>
								<option value="21">icon 21</option>
								<option value="22">icon 22</option>
								<option value="23">icon 23</option>
								<option value="24">icon 24</option>
								<option value="25">icon 25</option>
							</select>
							<select id="user-color">
								<option value="1">color 1</option>
								<option value="2">color 2</option>
								<option value="3">color 3</option>
								<option value="4">color 4</option>
								<option value="5">color 5</option>
								<option value="6">color 6</option>
								<option value="7">color 7</option>
								<option value="8">color 8</option>
								<option value="9">color 9</option>
								<option value="10">color 10</option>
							</select>
							<br class="clear">
						</div>
					</label>
					<div class="buttons">
						<div class="response"></div>
						<input type="submit" name="action" class="btn btn-save" value="Save">
						<input id="config-cancel" type="button" class="btn btn-cancel" value="Cancel">
					</div>
				</form>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/lib/jquery/dist/jquery.min.js"></script>
		<script src="/js/smol.js"></script>
		<script src="/js/smol.color.js"></script>
		<script src="/js/smol.menu.js"></script>
		<script src="/js/smol.menu.user.js"></script>
		<script src="/js/smol.names.js"></script>
		<script src="/js/smol.chat.js"></script>
	</body>
</html>
