<!DOCTYPE html>
<html>
	<head>
		<title>Smol Chat</title>
		<meta charset="utf-8">
		<meta name="description" content="An editable offline-friendly map">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/lib/source-sans-pro/source-sans-pro.css">
		<link rel="stylesheet" href="/css/smol.chat.css">
	</head>
	<body>
		<div id="app">
			<ul id="messages"></ul>
			<form id="message-form" action="/api/message" method="post">
				<input id="message-input" name="message" autocomplete="off" placeholder="Message to everybody">
				<button id="message-submit" title="Send message"><span class="fa fa-paper-plane"></span></button>
				<br class="clear">
			</form>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/lib/jquery/dist/jquery.min.js"></script>
		<script src="/js/smol.js"></script>
		<script src="/js/smol.chat.js"></script>
	</body>
</html>
