/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, input, select {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: #8442D5;
}

h1 {
	font-weight: normal;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

h2 {
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 5px;
}

h3 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

input[type="text"],
textarea {
	display: block;
	font-size: 14px;
	line-height: 34px;
	font-family: "Source Sans Pro", sans-serif;
	padding: 0 10px;
	border: 1px solid #ccc;
	width: 100%;
	margin: 10px 0 0 0;
	border-radius: 2px;
}

textarea {
	padding: 10px;
	line-height: 21px;
}

input[type="text"]:focus,
textarea:focus {
	border-color: #170A26;
}

label {
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
}

label pre {
	font-weight: normal;
}

select {
	font-size: 14px;
	margin-top: 10px;
}

code {
	font-family: menlo, monospace;
}

.help code {
	color: #333;
	font-size: 0.8em;
	display: inline-block;
	background: #dedede;
	padding: 2px;
}

.column {
	float: left;
	width: 125px;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.help {
	font-size: 12px;
	font-weight: normal;
	color: #666;
	margin: 10px 0 15px 0;
}

.hidden {
	display: none !important;
}

.headroom {
	margin-top: 30px;
}

.no-headroom {
	margin-top: 0;
}

.relative {
	position: relative;
}

.edit-delete {
	color: #DE2B32;
}

.btn {
	border: none;
	color: #8442D5;
	background: transparent;
	border: 2px solid #8442D5;
	font-size: 13px;
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
	text-transform: uppercase;
	margin-left: 5px;
	text-decoration: none;
}

.btn:hover {
	color: #fff !important;
	background: #000 !important;
	border-color: #000 !important;
}

.btn-save {
	color: #fff;
	background-color: #8442D5;
	border-color: #8442D5;
	margin-left: 0;
}

body.color1 .btn,
body.color2 .btn {
	color: #1f78b4;
	border-color: #1f78b4;
}

body.color3 .btn,
body.color4 .btn {
	color: #33a02c;
	border-color: #33a02c;
}

body.color5 .btn,
body.color6 .btn {
	color: #e31a1c;
	border-color: #e31a1c;
}

body.color7 .btn,
body.color8 .btn {
	color: #ff7f00;
	border-color: #ff7f00;
}

body.color9 .btn,
body.color10 .btn {
	color: #6a3d9a;
	border-color: #6a3d9a;
}

body.color1 .btn-save,
body.color2 .btn-save {
	color: #fff;
	background-color: #1f78b4;
}

body.color3 .btn-save,
body.color4 .btn-save {
	color: #fff;
	background-color: #33a02c;
}

body.color5 .btn-save,
body.color6 .btn-save {
	color: #fff;
	background-color: #e31a1c;
}

body.color7 .btn-save,
body.color8 .btn-save {
	color: #fff;
	background-color: #ff7f00;
}

body.color9 .btn-save,
body.color10 .btn-save {
	color: #fff;
	background-color: #6a3d9a;
}

#app {
	margin: 0 auto;
	width: 100%;
}

#messages {
	position: fixed;
	left: 310px;
	top: 0;
	width: calc(100vw - 310px);
	height: calc(100vh - 56px);
	overflow-y: auto;
	margin-bottom: 1px;
}

#message-form {
	position: fixed;
	left: 310px;
	bottom: 10px;
	width: calc(100vw - 320px);
}

#messages .message {
	position: relative;
	padding: 12px 0 0 0;
	margin-top: 12px;
	border-top: 1px solid #dedede;
}

#messages .system-message {
	color: #999;
	font-size: 12px;
	font-weight: 600;
	padding-top: 7px;
	margin-bottom: -10px;
}

#messages .system-message:first-child {
	padding-top: 15px;
}

#messages .message.hide-sender {
	padding-left: 55px;
	margin-top: 0;
	border-top: none;
	padding-top: 0;
	padding-bottom: 0;
}

#messages .message:last-child {
	padding-bottom: 15px;
}

#messages .message.hide-sender .avatar {
	display: none;
}

#messages .content {
	width: calc(100% - 65px);
	float: left;
}

#messages .message .edit {
	position: absolute;
	right: 10px;
	top: 4px;
	cursor: pointer;
	color: #999;
}

#messages .editing .edit {
	display: none;
}

#messages .edited .body::after {
	color: #999;
	content: " (edited)";
	font-size: 12px;
	margin-left: 3px;
}

#messages .editing .body::after {
	display: none;
}

#messages code {
	display: inline-block;
	font-family: menlo, monospace;
	font-size: 0.85em;
	padding: 3px;
	background: #eee;
}

#messages em {
	font-style: italic;
}

#messages strong {
	font-weight: bold;
}

#avatar {
	cursor: pointer;
}

.avatar {
	position: relative;
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 4px;
	margin-right: 1px;
}

.avatar-icon {
	position: absolute;
	left: 3.5px;
	top: 3.5px;
	background-image: url('../img/avatars-black.png');
	background-size: 190px 190px;
	width: 38px;
	height: 38px;
}

/*

From ColorBrewer
http://colorbrewer2.org/#type=qualitative&scheme=Paired&n=10

*/
.avatar.color1 { background: #a6cee3; }
.avatar.color2 { background: #1f78b4; }
.avatar.color3 { background: #b2df8a; }
.avatar.color4 { background: #33a02c; }
.avatar.color5 { background: #fb9a99; }
.avatar.color6 { background: #e31a1c; }
.avatar.color7 { background: #fdbf6f; }
.avatar.color8 { background: #ff7f00; }
.avatar.color9 { background: #cab2d6; }
.avatar.color10 { background: #6a3d9a; }

#messages .color1 a,
#messages .color2 a {
	color: #1f78b4;
}

#messages .color3 a,
#messages .color4 a {
	color: #33a02c;
}

#messages .color5 a,
#messages .color6 a {
	color: #e31a1c;
}

#messages .color7 a,
#messages .color8 a {
	color: #ff7f00;
}

#messages .color9 a,
#messages .color10 a {
	color: #6a3d9a;
}

.avatar.color2 .avatar-icon,
.avatar.color4 .avatar-icon,
.avatar.color6 .avatar-icon,
.avatar.color8 .avatar-icon,
.avatar.color10 .avatar-icon {
	background-image: url('../img/avatars-white.png'); }
}

.avatar-icon.icon1 {}
.avatar-icon.icon2 { background-position: -38px 0; }
.avatar-icon.icon3 { background-position: -76px 0; }
.avatar-icon.icon4 { background-position: -114px 0; }
.avatar-icon.icon5 { background-position: -152px 0; }
.avatar-icon.icon6 { background-position: -38px 0; }
.avatar-icon.icon7 { background-position: -38px -38px; }
.avatar-icon.icon8 { background-position: -38px -76px; }
.avatar-icon.icon9 { background-position: -38px -114px; }
.avatar-icon.icon10 { background-position: -38px -152px; }
.avatar-icon.icon11 { background-position: -76px 0; }
.avatar-icon.icon12 { background-position: -76px -38px; }
.avatar-icon.icon13 { background-position: -76px -76px; }
.avatar-icon.icon14 { background-position: -76px -114px; }
.avatar-icon.icon15 { background-position: -76px -152px; }
.avatar-icon.icon16 { background-position: -114px 0; }
.avatar-icon.icon17 { background-position: -114px -38px; }
.avatar-icon.icon18 { background-position: -114px -76px; }
.avatar-icon.icon19 { background-position: -114px -114px; }
.avatar-icon.icon20 { background-position: -114px -152px; }
.avatar-icon.icon21 { background-position: -152px 0; }
.avatar-icon.icon22 { background-position: -152px -38px; }
.avatar-icon.icon23 { background-position: -152px -76px; }
.avatar-icon.icon24 { background-position: -152px -114px; }
.avatar-icon.icon25 { background-position: -152px -152px; }

#messages .avatar {
	margin-right: 10px;
}

#message-input {
	float: left;
	width: 500px;
	line-height: 45px;
	padding: 0 10px;
	border: none;
	color: #fff;
	background: rgba(23, 10, 38, 0.8);
	width: calc(100% - 45px - 46px);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#message-input[disabled="disabled"] {
	color: rgba(255, 255, 255, 0.5);
}

#message-submit {
	float: left;
	border: none;
	color: #fff;
	background: #8442D5;
	width: 45px;
	height: 45px;
	font-size: 18px;
	line-height: 18px;
	vertical-align: bottom;
	cursor: pointer;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#message-submit .fa {
	margin-left: -3px;
}

#message-submit:hover {
	background: #000;
}

.message .nickname {
	font-weight: bold;
	margin-top: -2px;
}

.hide-sender {
	border-top: none;
}

.hide-sender .nickname {
	display: none;
}

.message form {
	margin-top: -5px;
}

.message input {
	width: 100%;
}

.message .buttons {
	margin-top: 7px;
}

.message .buttons .btn {
	font-size: 11px;
	padding: 7px 12px;
}
