#sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	color: #fff;
	background: #170A26;
	overflow: auto;
}

#sidebar a:hover {
	color: #fff;
}

#sidebar h1 {
	margin: 0 15px;
}

#sidebar-close {
	color: #fff;
	position: fixed;
	top: 6px;
	left: 255px;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
	z-index: 1;
}

#sidebar-rooms {
	margin: 10px 0 30px 0;
}

#sidebar-rooms li {
	position: relative;
	padding: 7.5px 15px;
	overflow: hidden;
	cursor: pointer;
}

#sidebar-rooms li:hover {
	background: rgba(255, 255, 255, 0.1);
}

#sidebar-rooms li.selected,
#sidebar-rooms li.selected:hover {
	background: rgba(0, 0, 0, 0.3);
}

#sidebar-rooms li .fa {
	opacity: 0.5;
	margin-right: 10px;
}

#sidebar-rooms li.selected .fa,
#sidebar-rooms li:hover .fa {
	opacity: 1;
}

#sidebar-rooms li .leave {
	position: absolute;
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	right: -3.5px;
	top: 0;
	padding: 12px 7px;
}

#sidebar-rooms li .leave:hover {
	color: #fff;
}
