/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, input, select {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: #8442D5;
}

.clear {
	clear: both;
}

#app {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

#messages {
	height: calc(100vh - 55px);
	overflow-y: auto;
}

#messages li {
	padding: 7px 0;
	border-bottom: 1px solid #dedede;
}

#message-input {
	float: left;
	width: 500px;
	line-height: 45px;
	padding: 0 10px;
	border: none;
	color: #fff;
	background: rgba(23, 10, 38, 0.8);
	width: calc(100% - 45px);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#message-input[disabled="disabled"] {
	color: rgba(255, 255, 255, 0.5);
}

#message-submit {
	float: left;
	border: none;
	color: #fff;
	background: #8442D5;
	width: 45px;
	height: 45px;
	font-size: 18px;
	line-height: 18px;
	vertical-align: bottom;
	cursor: pointer;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#message-submit .fa {
	margin-left: -3px;
}

#message-submit:hover {
	background: #000;
}
